tag-version-prefix=""
scripts-prepend-node-path=true
registry=https://registry.npmjs.org/
@axway-internal:registry=http://registry.ecd.axway.int:8081/artifactory/api/npm/registry-npm
always-auth=true
