tag-version-prefix=""
scripts-prepend-node-path=true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_EXTERNAL_AUTH_TOKEN}
@axway-internal:registry=http://registry.ecd.axway.int:8081/artifactory/api/npm/registry-npm