tag-version-prefix=""
scripts-prepend-node-path=true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=403ba983-6562-4fdc-a810-db0384a4a43f
@axway-internal:registry=http://registry.ecd.axway.int:8081/artifactory/api/npm/registry-npm